/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.container {
  display: flex;
  column-gap:15px;
  padding: 10px;
}

 /* 50% bigger font-size */
.bigFont {
  font-size: 1.5em; 
}

h1 {
  text-align: center;
  color: #333;
  background-color: orange;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #555;
}

label {
  margin-left: 5px;
}

 #displayCart {
  margin-top: 10px;
 }

#displayProduct{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 24px;
  text-align: center;
  width:80%;
}

#sideBar{
  background-color: chocolate;
  width: 12%;
  margin-top: 20px;
  padding: 24px;
  border-radius: 15px;
}

.priceChoice{
  display:list-item;
}




.card {
  background: rgb(241, 240, 240);
  border-width: 2px;
  padding: 15px;
  margin: 3px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.hidden {
  display: none;
}


